    <link rel="shortcut icon" href="{{ asset('images/ducatilogo.ico') }}" />
    <meta name="author" content="Jul6art A.K.A. Geoffrey Kratz">
    <meta name="keyword" content="moto, vois, ma, moto, mon, garage, mes, machines, superbike naked, nude, supersport, touring, trial, trail, motox, motocross">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('stylesheets/font-awesome.min.css') }}"/>
    {% stylesheets
    'stylesheets/bootstrap-admin.min.css'
    'stylesheets/bootoast.css'
    'stylesheets/plugins/simple-line-icons.css'
    'stylesheets/plugins/animate.min.css'
    'stylesheets/plugins/fullcalendar.min.css'
    'stylesheets/plugins/select2.min.css'
    'scripts/admin/fancybox/source/jquery.fancybox.css'
    'stylesheets/style-admin.css'
    'stylesheets/jquery.ezdz.css'
    output='css/admin.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body id="mimin" class="dashboard">
    <!-- start: Header -->
    <nav class="navbar navbar-default header navbar-fixed-top">
        <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
                <div class="opener-left-menu is-open">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
                <a href="{{ path('page_accueil') }}" class="navbar-brand">
                    <b>CMYBIKE</b>
                </a>

                <ul class="nav navbar-nav search-nav">
                    <li>
                        <div class="search">
                            <span class="fa fa-search icon-search" style="font-size:23px;"></span>
                            <form class="form-group form-animate-text" action="{{ path('page_recherche') }}" method="post">
                                <input type="text" class="form-text" name="recherche" required value="{% if app.request.query.has("searchString") %}{{ app.request.query.get("searchString") }}{% endif %}">
                                <span class="bar"></span>
                                <label class="label-search">Lancer une <b>Recherche</b> </label>
                            </form>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right user-nav">
                    <li class="user-name">
                        <span>
                            {% if app.user %}
                                {{ app.user.prenom | title ~ ' ' ~ app.user.username | title ~ ' ' ~ app.user.nom | title }}
                            {% endif %}
                        </span>
                    </li>
                    <li class="dropdown avatar-dropdown">
                        <img src="{{ asset('img/avatar.jpg') }}" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                        <ul class="dropdown-menu user-dropdown">
                            <li class="more">
                                <ul>
                                    <li><a href="{{ path('page_accueil') }}" data-toggle="tooltip" data-placement="left" title="" data-original-title="Accueil">
                                            <span class="icons icon-home"></span>
                                        </a>
                                    </li>
                                    {% if app.user %}
                                        <li>
                                            <a href="{{ path('fos_user_change_password') }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Changer mon mot de passe">
                                                <span class="icons icon-key"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fos_user_security_logout') }}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Se déconnecter">
                                                <span class="icons icon-power"></span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('fos_user_registration_register') }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="S'inscrire">
                                                <span class="icons icon-key"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fos_user_security_login') }}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Se connecter">
                                                <span class="icons icon-power"></span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {% if app.user %}
                        <li ><a href="#" class="opener-right-menu"><span class="fa fa-coffee"></span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- end: Header -->