<li class="ripple controle {{ (app.request.attributes.get('_route') == 'page_accueil') ? "active" : "" }}">
    <a id="bord" class="nav-header" href="{{ path('page_accueil') }}"><i class="icons icon-home"></i> Accueil
    </a>
</li>
{#<li class="ripple controle {{ (app.request.attributes.get('_route') == 'page_roulette') ? "active" : "" }}">#}
    {#<a id="bord" class="nav-header" href="{{ path('page_roulette') }}"><i class="icons icon-reload"></i> Moto roulette#}
    {#</a>#}
{#</li>#}
{#{% if app.user and is_granted('ROLE_ADMIN') %}#}
    {#<li class="ripple controle {{ (app.request.attributes.get('_route') == 'liste_user') ? "active" : "" }}">#}
        {#<a id="user" class="nav-header" href="{{ path('liste_user') }}"><i class="icons icon-people"></i> Utilisateurs#}
        {#</a>#}
    {#</li>#}
    {#<li class="ripple controle {{ (app.request.attributes.get('_route') == 'liste_abus') ? "active" : "" }}">#}
        {#<a id="abus" class="nav-header" href="{{ path('liste_abus') }}"><i class="icons icon-target"></i> Abus#}
        {#</a>#}
    {#</li>#}
    {#<li class="controle"> <a id="newsletter" href="{{ path('liste_news') }}"><i class="fa fa-newspaper-o"></i> Newsletter</a> </li>#}
{#{% endif %}#}
{#<li class="ripple controle {{ (app.request.attributes.get('_route') in ['liste_motos', 'ajout_moto', 'page_motos', 'page_dernieres_motos', 'page_meilleures_motos']) ? "active" : "" }}">#}
    {#<a class="tree-toggle nav-header">#}
        {#<i class="fa-motorcycle fa" style="width: 20px!important;"></i> Motos#}
        {#<span class="fa-angle-right fa right-arrow text-right"></span>#}
    {#</a>#}
    {#<ul class="nav nav-list tree">#}
        {#<li><a href="{{ path('page_motos') }}"><i class="icons icon-list"></i> Les motos</a></li>#}
        {#<li><a href="{{ path('page_dernieres_motos') }}"><i class="icons icon-list"></i> Dernières motos</a></li>#}
        {#<li><a href="{{ path('page_meilleures_motos') }}"><i class="icons icon-list"></i> Meilleures motos</a></li>#}
        {#{% if app.user and is_granted('ROLE_USER') %}#}
            {#<li><a id="cars" href="{{ path('liste_motos') }}"><i class="icons icon-list"></i> Mes motos</a></li>#}
            {#<li><a href="{{ path('ajout_moto') }}"><i class="icons icon-plus"></i> Ajouter</a></li>#}
        {#{% endif %}#}
    {#</ul>#}
{#</li>#}
{#<li class="ripple controle {{ (app.request.attributes.get('_route') in ['liste_photos', 'ajout_photo', 'page_photos', 'page_dernieres_photos', 'page_meilleures_photos']) ? "active" : "" }}">#}
    {#<a class="tree-toggle nav-header">#}
        {#<i class="icons icon-picture"></i> Photos#}
        {#<span class="fa-angle-right fa right-arrow text-right"></span>#}
    {#</a>#}
    {#<ul class="nav nav-list tree">#}
        {#<li><a href="{{ path('page_photos') }}"><i class="icons icon-list"></i> Les photos</a></li>#}
        {#<li><a href="{{ path('page_dernieres_photos') }}"><i class="icons icon-list"></i> Dernières photos</a></li>#}
        {#<li><a href="{{ path('page_meilleures_photos') }}"><i class="icons icon-list"></i> Meilleures photos</a></li>#}
        {#{% if app.user and is_granted('ROLE_USER') %}#}
            {#<li><a id="slide" href="{{ path('liste_photos') }}"><i class="icons icon-list"></i> Mes photos</a></li>#}
            {#<li><a href="{{ path('ajout_photo') }}"><i class="icons icon-plus"></i> Ajouter</a></li>#}
        {#{% endif %}#}
    {#</ul>#}
{#</li>#}
{#<li class="ripple controle {{ (app.request.attributes.get('_route') in ['liste_videos', 'ajout_video', 'page_videos', 'page_dernieres_videos', 'page_meilleures_videos']) ? "active" : "" }}">#}
    {#<a class="tree-toggle nav-header">#}
        {#<i class="icons icon-camrecorder"></i> Vidéos#}
        {#<span class="fa-angle-right fa right-arrow text-right"></span>#}
    {#</a>#}
    {#<ul class="nav nav-list tree">#}
        {#<li><a href="{{ path('page_videos') }}"><i class="icons icon-list"></i> Les vidéos</a></li>#}
        {#<li><a href="{{ path('page_dernieres_videos') }}"><i class="icons icon-list"></i> Dernières vidéos</a></li>#}
        {#<li><a href="{{ path('page_meilleures_videos') }}"><i class="icons icon-list"></i> Meilleures vidéos</a></li>#}
        {#{% if app.user and is_granted('ROLE_USER') %}#}
            {#<li><a id="video" href="{{ path('liste_videos') }}"><i class="icons icon-list"></i> Mes vidéos</a></li>#}
            {#<li><a href="{{ path('ajout_video') }}"><i class="icons icon-plus"></i> Ajouter</a></li>#}
        {#{% endif %}#}
    {#</ul>#}
{#</li>#}
{#<li class="ripple controle {{ (app.request.attributes.get('_route') == 'page_contact') ? "active" : "" }}">#}
    {#<a id="bord" class="nav-header" href="{{ path('page_contact') }}"><i class="icons icon-envelope-open"></i> Contact#}
    {#</a>#}
{#</li>#}